<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220940', 'b2222010', 'b2224650', 'b2227390', 'b2229790']
```

In [1]:
# 入力用
import random
list = []
for i in range(5):
  list.append("b{}".format(2220000+random.randrange(10,2800,10))) 
print(list)

['b2221820', 'b2220420', 'b2220620', 'b2220210', 'b2222520']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [2]:
# 入力用
list1 = []
list2 = []
list = []

for i in range(1,6):
  list1.append(i)
for j in range (1,10,2):
  list2.append(j)

for i in range(len(list1)):
  list.append(list1[i]+list2[i])

print(list)

[2, 5, 8, 11, 14]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [3]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [4]:
# 入力用
random.shuffle(todohuken_list)
todohuken_list4 = []

for i in range(len(todohuken_list)//4 + 1):
  list = []
  for n,m in enumerate(todohuken_list):
    if(n//4 == i):
      list.append(m)
  todohuken_list4.append(list)

print(todohuken_list4)

[['広島県', '徳島県', '宮崎県', '山形県'], ['高知県', '岩手県', '東京都', '三重県'], ['滋賀県', '秋田県', '福井県', '茨城県'], ['長野県', '大阪府', '山梨県', '京都府'], ['富山県', '神奈川県', '栃木県', '群馬県'], ['千葉県', '愛知県', '愛媛県', '青森県'], ['島根県', '和歌山県', '福島県', '山口県'], ['北海道', '香川県', '長崎県', '岡山県'], ['福岡県', '鳥取県', '埼玉県', '熊本県'], ['静岡県', '宮城県', '兵庫県', '沖縄県'], ['岐阜県', '新潟県', '大分県', '奈良県'], ['鹿児島県', '石川県', '佐賀県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [6]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [7]:
# 入力用
university_list_sorted = sorted(university_list,key = lambda x:int(x.split(",")[1]))
print(university_list_sorted)

['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [8]:
# 入力用
N = 100
list_fizzbuzz = []
for i in range(1,101):
  if(i%3 == 0 and i%5 == 0):
    print("FizzBuzz",end = " ")
    list_fizzbuzz.append("FizzBuzz")
  elif(i%3 == 0):
    print("Fizz",end = " ")
    list_fizzbuzz.append("Fizz")
  elif(i%5 == 0):
    print("Buzz",end = " ")
    list_fizzbuzz.append("Buzz")
  else:
    print(i,end = " ")
    list_fizzbuzz.append("others")
  
print(f"\nFizzBuzzの数 : {list_fizzbuzz.count('FizzBuzz')}")
print(f"Fizzの数 : {list_fizzbuzz.count('Fizz')}")
print(f"Buzzの数 : {list_fizzbuzz.count('Buzz')}")
print(f"othersの数 : {list_fizzbuzz.count('others')}")

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz
FizzBuzzの数 : 6
Fizzの数 : 27
Buzzの数 : 14
othersの数 : 53